body {
	font-family: Verdana, Arial;
	color: #000066;
	margin: 0;
}

.box {
	background-color: #eee;
	border: solid 3px #000066;
	padding: 30px;
	text-align: center;
	width: 80%;
        border-radius: 30px;
}

.bloccoalcentro {
	margin-left: auto;
    	margin-right: auto;
}

.centro {
	margin: auto;
	text-align: center;
}

.pulsante {
         background-color:#000066;
         color: white;
         border-radius: 12px;
         padding:2px;
}
